# Below are aliases designed to be easy to use for
# people using voice dictation software.
# --------------------------------------------------------------
# These aliases differ from the more usual three letter acronyms because I'm using
# voice dictation software, so whole words are quicker and # easier than using TLAs. 
# This makes it easier for those with disabilities to interact with the Terminal using their voice.
# DragonDictate sometimes capitalises words in a rather erratic way, with no option to change that behaviour I've added aliases in both the lower and upper case.

# Basic directory operations
alias …='cd ../..'
alias -- -='cd -'

# open irssi
alias IRC="irssi"
alias irc="irssi"

# Super user
alias _='sudo'
alias please='sudo'

# TextMate & Sublime Text 2 section
alias sublime="subl"
alias Sublime="subl"
alias meeting="mate "
alias Meeting="mate "
alias mates="mate "
alias Mates="mate "

# General section
alias meeting="mate "
alias Meeting="mate "
alias meet="mate "
alias Meet="mate "
alias meets="mate "
alias Meets="mate "
alias Find="mdfind "
alias find="mdfind "
alias list="ls -a"
alias List="ls -a"
alias change="cd"
alias Change="cd"
alias Change-up="cd .."
alias change-up="cd .."
alias change-up-to="cd ../.."
alias change-up-three="cd ../../.."
alias move="mv"
alias Move="mv"
alias copy="cp"
alias Copy="cp"
alias multiplexer="tmux"
alias Multiplexer="tmux"
alias MUX="tmuxinator "
alias mux="tmuxinator"

# Git section
alias Get="git"
alias get="git"
alias kit="git"
alias Kit="git"
alias adding="git add"
alias status="git status"
alias Status="git status"
alias committing="git commit"
alias Committing="git commit"
alias Cloning="git clone"
alias cloning="git clone"
alias branches="git branch"
alias Branches="git branch"
alias merging="git merge"
alias Merging="git merge"
alias stashing="git stash"
alias Stashing="git stash"
alias checking="git checkout"
alias Checking="git checkout"
alias pulling="git pull"
alias Pulling="git pull"
alias pushing="git push"
alias Pushing="git push"
alias fetching="git fetch"
alias Fetching="git fetch"
alias visualise='git log --oneline --abbrev-commit --all --graph --decorate --color'
alias Visualise='git log --oneline --abbrev-commit --all --graph --decorate --color'

# Octopress section
alias watching="rake watch"
alias Watching="rake watch"
alias previewing="rake preview"
alias Previewing="rake preview"
alias generating="rake generate"
alias Generating="rake generate"
alias deploying="rake deploy"
alias Deploying="rake deploy"
alias rate="rake "
alias Rate="rake "
alias new-post="rake new_post["template"]"
alias New-post="rake new_post["template"]"

# WSend
alias wsend="~/.wsend/wsend"
alias wsend-gp="~/.wsend/wsend-gpg"
alias wget-gp="~/.wsend/wget-gpg"
